<%- include("partials/header") -%>
<div class="position-relative p-5 text-center text-muted bg-body">
    <h1 class="text-body-emphasis code">404</h1>
    <h1 class="text-body-emphasis">Not Found <%= pageName %></h1>
    <p class="col-lg-6 mx-auto mb-4">
      We didn't have that page 
    </p>
    <button class="btn btn-Success px-5 mb-5" type="button">
      <a href="/" style="color: white; text-decoration: none;">RETURN HOME</a>
    </button>
  </div>
  <%- include("partials/footer") -%>